{% extends 'myblogapp/base.html' %}

{% block content %}

  <p>Blog Entries</p>
  <ul>
    {% for entry in titles %}
    <li>
      <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
      <p>{{ entry.title }}</p>
      <p>{{ entry.text }}</p>
      <a href="{% url 'myblogapp:edit_entry' entry.id %}">Edit entry</a>
    </li>
    {% empty %}
      <li>No entries have been added yet.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'myblogapp:new_entry' %}">Add a new entry</a>
  {% endblock content %} 
  